<!-- -->
<ion-header>
  <ion-toolbar color="secondary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <h6 text-center style="text-align: center" class="text-primary4" style="font-size: 14px">SAFE AREAS NEAR IN LAGUNA</h6>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div  #map id="map"></div>
  </ion-content>
