@import url(https://fonts.googleapis.com/css?family=Varela+Round);

  *:not(ion-icon) {
    font-family: 'Varela Round', sans-serif!important;
  
  }
.auth-page .scroll-content .login-content .logo2 {
    width: 150px;
    height: 100px;
    
    margin: -5em auto 0;
    background: url("../assets/img/avatar.jpeg") no-repeat;
    background-size: 100%;
  }
 
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
  .text-primary2 {
    color: #0c0c0c;
    font-family: 'Lato-Light';
  
    
  }


  .login-content p {
    margin-top: 10px;
    color: white;
    height: 20px;
  }

    .log{
      margin-top: 9px;
      font-size: 85px;
    }
  


  .text-primary3 {
    color: #0c0c0c;
    font-size:20px;	
    
  }
  .auth-page::after {
    content: "";
    //background: url("../assets/img/bg.jpg") no-repeat;
    background : -moz-linear-gradient(39.46% -94.98% -66.8deg,rgba(144, 131, 218, 1) 0%,rgba(99, 190, 200, 1) 100%);
									background : -webkit-linear-gradient(-66.8deg, rgba(144, 131, 218, 1) 0%, rgba(99, 190, 200, 1) 100%);
									background : -webkit-gradient(linear,39.46% -94.98% ,60.54% 194.98% ,color-stop(0,rgba(144, 131, 218, 1) ),color-stop(1,rgba(99, 190, 200, 1) ));
									background : linear-gradient(156.8deg, rgba(144, 131, 218, 1) 0%, rgba(99, 190, 200, 1) 100%);
  }
  .list-form{
    text-align: right;
  }
  h5 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid black; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    color: black;
 } 
 h5 span { 
  background:#fff; 
  padding:0 5px; 
  color: black;
} 

button:hover {
  background-color: transparent;
}

.pulse-button {

  position: relative;
  width: 50;
  height: 24px;
  border: none;
  color:#fff;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);

  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}


.pulse-button2 {

    position: relative;
    width: 48px;
    height: 24px;
    border: none;
    color:rgb(121, 13, 13);
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 20%;
    background-color: #c41313;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;

  }
  .pulse-button2:hover
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
