<!-- -->
<!--<ion-content class="card-background-page">
      <img src="../assets/img/pic3.png"/>-->

<ion-content padding class="animated fadeIn login auth-page" >
  <div class="login-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class=""></div>
      <!--<ion-icon name="md-bonfire" class="log"></ion-icon> -->
    </div><br><br>
    <!--   <p  style="font-size: 48px">WELCOME</p> -->
 
    <p  style="font-size: 48px; text-align: center; color: lightblue">FLOOD</p>
    <p style="font-size: 48px; color: blue">MAPPING!</p>

  <div>
    <!--  <button ion-button round icon-right block color="secondary" text-color="secondary" style="height: 42px" tappable (click)="fire1()">
          FIRE MAPPING 
        <ion-icon name="md-bonfire"></ion-icon> <h6 class="text-white"></h6>
      </button>
    -->

<br>
<button class="button pulse-button" ion-button icon-right icon-right  block color="primary" text-color="secondary" style="height: 40px" tappable (click)="proceed()">
   Click to Proceed
   <!--<ion-icon name="md-bonfire"></ion-icon> <h6 class="text-dark" style="font-size: 12px"></h6> -->
  
 
</button>

</div>
<br><br><br><br><br>
<!--<h4 style="text-align: center; font-size: 15px"><a href="#">ABOUT</a></h4> -->



  </div>

 


</ion-content>
