//page-register,
//.register {
//}
.auth-page .scroll-content .login-content .logo4 {
  width: 150px;
  height: 100px;
  
  margin: -7em auto 0;
  background: url("../assets/img/logo3.png") no-repeat;
  background-size: 100%;
}
  .text-primary2 {
    color: #3fa70f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
  }
  .text-primary3 {
    color: #3fa70f;
  }
  .text-primary4 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
  }
  
