<!--
<ion-header>

  <ion-navbar color="dark">
    <ion-title>
    <ion-icon name="md-contact"></ion-icon>
    &nbsp;Sign In</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="bg-img auth-page">

  <div class="main-content">
    <div padding text-center class="container-logo">
      <img src="">
      <ion-icon name="md-bonfire" class="log"></ion-icon>
      <p style="text-align: center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 35px;">FIRE MAPPING</p>
    </div>
   
    <div class="sepretor-or" padding-horizontal style="text-align: center"> <h3>Create New Account</h3></div>

    <div padding class="container-top">
    <form [formGroup]="authForm" (ngSubmit)="userRegister(registerData)">

  
        <ion-list>
          <ion-item padding-right>
            <ion-label>
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="registerData.email" [formControl]="email" id="email" type="text" required placeholder="Email *"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
            </ion-label>
              <ion-input [(ngModel)]="registerData.password" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passeye}}"></ion-icon></button>
          </ion-item>
        </ion-list>
        <button type="submit" ion-button full color="dark" >Register</button>
    </form>



  </div>
  <div text-center margin-top style="color: black">
    Already have an account?<span ion-text class="text-primary" tappable (click)="go()"><strong style="color: blue">Log In Here.</strong> </span>
   </div>
  </div>
  
</ion-content>
