.auth-page .scroll-content .login-content .logo5 {
    width: 150px;
    height: 100px;
    
    margin: -13em auto 0;
    background: url("../assets/img/logo3.png") no-repeat;
    background-size: 100%;
  }
.sname{
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}
