<!-- -->
<ion-header>
    <ion-toolbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <h6 text-center style="text-align: center" class="text-primary4" style="font-size: 14px">YOUR LOCATION</h6>
          <ion-buttons end>
             <!-- <button ion-button tappable (click)="next1()">
                  <ion-icon name="ios-cart-outline" style="position: relative; font-weight: bold; font-size: 2em" color="white">
                      <ion-badge style="position:absolute; font-weight: bold; top: -5px; left: 9px; font-size: 9px" color=danger >{{ badge }}</ion-badge>
                   </ion-icon>
                  </button>-->
             
            </ion-buttons>
    </ion-toolbar>
    
  </ion-header>
  <ion-content>
    <google-map></google-map>
    </ion-content>
