<!--
<ion-header>

  <ion-navbar color="dark">
    <ion-title>
    <ion-icon name="md-contact"></ion-icon>
    &nbsp;Sign In</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="bg-img auth-page">

  <div class="main-content">
    <div padding text-center class="container-logo">
      <img src="">
      <ion-icon name="md-bonfire" class="log"></ion-icon>
    <p color="secondary" style="text-align: center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 30px">FIRE MAPPING</p>
    </div>
  
    <div class="sepretor-or" padding-horizontal style="text-align: center"> <h3>Sign In</h3></div>

    <div padding class="container-top">
    <form>

  
        <ion-list>
          <ion-item padding-right>
            <ion-label>
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-label>
            <ion-input type="email" placeholder="Enter Email" #username></ion-input>
            <!--<ion-input [(ngModel)]="loginData.email" [formControl]="email" id="email" type="text" required placeholder="Email *"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
            </ion-label>
            <ion-input  type="{{passwordtype}}" placeholder="Enter Email" #password></ion-input>
    <!--  <ion-input [(ngModel)]="loginData.password" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>-->
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"><ion-icon name="{{passeye}}"></ion-icon></button>
          </ion-item>
        </ion-list>
       <!--<button type="submit" ion-button full color="dark" >Sign In</button> --> 
         <button ion-button icon-start round block color="black" text-color="secondary" style="height: 42px" tappable (click)="loginUser()">SignIn</button>
    </form>
    <div padding text-center class="form-bottom-text" ><a href="javascript:void(0);" (click)="forgetpassword()"> Forgot password?</a></div>
        <div padding text-center class="form-bottom-text">
          <label>Don't have an Account? <a href="javascript:void(0);" (click)="register()" style="color: blue">Sign up</a></label>
        </div>

  </div>
  </div>

</ion-content>
