<!-- -->
<ion-header>

      <ion-navbar color="green">
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
    <ion-title style="text-align: center">Add-Ons</ion-title>
  <!--  <ion-buttons end>
        <button ion-button tappable (click)="next()">
          <ion-icon name="ios-cart-outline" style="position: relative; font-weight: bold; font-size: 2em" color="white">
              <ion-badge style="position:absolute; font-weight: bold; top: -5px; left: 9px; font-size: 9px" color=danger >{{ badge }}</ion-badge>
           </ion-icon>
          </button>
       </ion-buttons>
      

       

  <h3>Select Previous Transaction</h3>

  <ion-row>
    <ion-col>
      <div style="background-color: green; size: 20">SERVICES</div>
    </ion-col>
    <ion-col>
      <div style="background-color: green; size: 20">TOP-UP</div>
    </ion-col>
    <ion-col>
      <div style="background-color: green; size: 20">AMOUNT</div>
    </ion-col>
    <ion-col>
      <div style="background-color: green; size: 20">SELECT</div>
    </ion-col>
  </ion-row>

  <ion-row>
    
    <ion-col>
    
    </ion-col>
    <ion-col>
      <div >Air Scent</div>
    </ion-col>
    <ion-col>
      <div>Php 520.00</div>
    </ion-col>
    <ion-col>
      <ion-checkbox center></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div >Carpet Cleaning</div>
    </ion-col>
    <ion-col>
      <div >Antibacteria</div>
    </ion-col>
    <ion-col>
      <div >Php 850.00</div>
    </ion-col>
    <ion-col>
      <ion-checkbox center></ion-checkbox>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div >Advance</div>
    </ion-col>
    <ion-col>
      <div >None</div>
    </ion-col>
    <ion-col>
      <div >Php 1200.00</div>
    </ion-col>
    <ion-col>
      <ion-checkbox center></ion-checkbox>
    </ion-col>
  </ion-row>
      -->

      </ion-navbar>
<!--  -->
</ion-header>
<ion-content>
    <div class="border-bottom" style="padding-top: 20px; text-align: center ;padding-bottom: 20px;" >
        <span ion-text  color="primary" class="bold" style="font-size: 25px; color: black">Select Add-Ons</span>
      </div>
  
            <div>
              
                <ion-item tappable *ngFor="let item of items">
                  
                  <ion-label style="overflow: initial; white-space: initial" >{{item.Name}}
                    <ion-label  style="color: black;" *ngFor="let curren of currency" >{{curren.Philippines}}{{item.Price}}</ion-label>
                  </ion-label>
                  <!--<ion-checkbox color="green" style="text-align: left" id="{{item.$key}}"  [(ngModel)]="pres" (click)="total(item.Price,item.Name)"></ion-checkbox>-->
                  <ion-checkbox (click)="clickSelectBox(item)"></ion-checkbox>
                </ion-item>
              
                </div>
                <button class="pull-right" ion-button round color="green" text-color="secondary" style="height: 35px" tappable (click)="proceed()">
                     <h6 class="text-white">PROCEED</h6>
                   
                  </button>
  
</ion-content>

